<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=1024">
    <title>Matt Sweetman{% if page.path !== '/' %} | {{title}}{% endif %}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/work/">Work</a></li>
          <li><a href="/experiments/">Experiments</a></li>
        </ul>
      </nav>
    </header>
    <div id="main">
      <section id="content">
        {% block bodyContent %}{{content|raw}}{% endblock %}
      </section>
      <aside id="side">
        <nav>
          <h2>Recent articles</h2>
          <ol>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Cras vel cursus quam</a></li>
            <li><a href="#">Phasellus eget dui</a></li>
            <li><a href="#">Class aptent taciti sociosqu ad litora</a></li>
            <li><a href="#">Quisque mattis placerat erat</a></li>
            <li><a href="#">Archive...</a></li>
          </ol>
        </nav>
        <nav>
          <h2>Contact</h2>
          <ul>
            <li><a href="mailto:matt@webroo.org">matt@webroo.org</a></li>
            <li><a href="https://github.com/webroo">github.com/webroo</a></li>
          </ul>
        </nav>
      </aside>
    </div>
    <footer>Copyright © Matt Sweetman</footer>
  </body>
</html>
