<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% elseif siteTitle %}{{ siteTitle }} - {% endif %}Matt Sweetman</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <header>
      <div class="central-content">
        <h2>Matt Sweetman</h2>
        <h1>{% if siteTitle %}{{ siteTitle }}{% else %}Latest projects{% endif %}</h1>
        <nav>
          <ul>
            <li><a href="/">Projects</a></li>
            <li><a href="/experiments/">Experiments</a></li>
            <li><a href="https://github.com/webroo">Github</a></li>
            <li><a href="https://www.linkedin.com/in/matt-sweetman-9974203/">Linked In</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="main" class="central-content">
      {% block bodyContent %}{{ content|raw }}{% endblock %}
    </section>
    </div>
    <footer class="central-content">
      <div class="copyright">Copyright © Matt Sweetman 2018</div>
    </footer>
  </body>
</html>
