@import 'nib';

global-reset();
reset-html5();

$siteWidth = 670px;

html {
  min-width: $siteWidth;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444;
  width: $siteWidth;
  margin: 0 auto;
}

h1, h2 {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  color: #000;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
}

p {
  line-height: 1.7em;
  margin-top: 1.5em;
}

a {
  color: #757575;
  &:hover {
    color: #ff3399;
  }
}

blockquote {
  font-family: Georgia;
  font-style: italic;
  margin-left: 20px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

hr {
  margin: 30px 0 55px 0;
  height: 1px;
  border: none;
  background: #eaeaea;
}

header {
  margin-top: 40px;

  h1 {
    font-size: 68px;
    margin-left: -3px;
  }

  nav {
    border-top: 1px solid #eaeaea;
    margin-top: 20px;
    padding-left: 1px;
  }

  li {
    display: inline-block;
    margin-right: 30px;
    height: 43px;
    font-size: 12px;
    line-height: 44px;
  }

  a {
    color: #5e5e5e;
    text-decoration: none;
    text-transform: uppercase;
  }
}

td {
  vertical-align: top;
}

#main {
  clearfix();
  margin-top: 40px;
  margin-bottom: 52px;
}

#content {
  float: left;
  width: $siteWidth;

  h1 {
    font-size: 32px;
    margin-top: 55px;

    a {
      color: #000;
      text-decoration: none;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin-top: 1.81em;
    font-size: 22px;

    &:first-child {
      margin-top: 8px;
    }
  }

  img {
    max-width: 100%;
    display: block;
  }

  ul {
    margin-top: 22px;
    padding-left: 35px
    list-style: outside disc;
  }

  ol {
    margin-top: 22px;
    padding-left: 38px
    list-style: outside decimal;
  }

  li {
    line-height: 1.7em;
  }

  time {
    display: block;
    font-size: 13px;
    color: #999;
  }

  .moreArticles {
    margin-top: 3em;
  }

  #articles {
    margin-top: 11px;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    time {
      float: left;
      font-size: 12px;
      color: #757575;
      padding-top: 1px;
    }

    a {
      display: block;
      margin-left: 110px;
    }

    p {
      margin-top: 0;
      margin-left: 110px;
    }
  }
}

footer {
  padding-top: 28px;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  color: #999;
  font-size: 13px;
}

pre {
  margin-top: 22px;
}

code {
  font-family: Consolas, Courier, monospace;
  font-size: 13px;
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background-color: #f8f8f8;
}

@import 'github';

@media screen and (max-device-width: 767px) {
  html {
    min-width: 480px;
  }

  body {
    width: 440px;
    font-size: 13px;
  }

  p {
    line-height: 1.66em;
  }

  header {
    margin-top: 20px;

    h1 {
      font-size: 47px;
    }

    li {
      margin-right: 10px;
      height: 36px;
      font-size: 10px;
      line-height: 37px;
    }
  }

  #main {
    margin-top: 35px;
  }

  #content {
    float: none;
    width: 100%;
    
    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 18px;
    }

    time {
      font-size: 12px;
    }

    #articles {
      margin-top: 0;
      
      a {
        margin-left: 82px;
      }

      p {
        margin-left: 82px;
      }
    }
  }

  code {
    font-size: 11px;
  }
}

@media screen and (max-device-width: 767px) and (orientation: portrait) {
  html {
    min-width: 320px;
  }
  body {
    width: 290px;
  }
}
