@import 'nib';

global-reset();
reset-html5();

html {
  min-width: 1024px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  width: 950px;
  margin: 0 auto;
}

h1 {
  font-family: Dosis, Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: #444;
}

a {
  color: #757575;
  &:hover {
    color: #ff3399;
  }
}

header {
  margin-top: 40px;

  h1 {
    font-size: 64px;
  }

  nav {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    line-height: 42px;
    margin-top: 20px;

    li {
      display: inline-block;
      margin-right: 30px;

      a {
        color: #5e5e5e;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

#main {
  clearfix();
  margin-top: 40px;
}

#content {
  float: left;
  width: 640px;

  h1 {
    font-size: 32px;
  }

  p {
    margin-top: 22px;
  }

  img {
    max-width: @width;
    padding-top: 5px;
  }
}

#side {
  float: right;
  width: 255px;
  padding-top: 18px;

  nav {
    margin-bottom: 50px;

    h2 {
      margin-bottom: 27px;
    }

    li {
      margin-top: 8px;
      font-size: 13px;
      line-height: 18px;
    }
  }
}

footer {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  color: #999;
  font-size: 12px;
}

code {
  font-family: monospace;
  font-size: 12px;
  line-height: 16px;
  margin-top: 22px;
}

@import 'github';
